.inputBox {
  display: block;
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 2px solid darkseagreen;
}

#SignupBtn {
  margin-top: 20px;
  margin-left: 15px;
  width: 300px;
  padding: 10px;
  color: white;
  background-color: darkgreen;
  border: none;
  cursor: pointer;
}

#SignupBtn:hover {
  background-color: darkseagreen;
}
